html{
    font-size: 16px;
}
h1 {
    font-size: 3rem;
}
.border-solid {
    border-style: solid;
}
.border-dashed {
    border-style: dashed;
}
.display-inline {
    display: inline;
}
.display-block {
    display: block;
}
