/*
primary: #264653;
secondary: #2a9d8f;
danger: #e76f51;
info: #e9c46a;
*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    font-family: 'Noto Sans', sans-serif;
}
.container {
    width: 95%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
.mt-2 {
    margin-top: 2rem;
}
.btn {
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5em;
    margin: 0 0.1em;
    border-radius: 0.5em;

}
.btn-primary {
    color: white;
    background-color: #264653;
}
.btn-secondary {
    color: white;
    background-color: #2a9d8f;
}
.btn-danger {
    color: black;
    background-color: #e76f51;
}
.btn-info {
    color: black;
    background-color: #e9c46a;
}
.logo {
    display: block;
    font-size: 3rem;
    padding: 1em;
    text-decoration: none;
    text-align: center;
    background-color: #264653;
    color: white;
}
.card {
    width: 20rem;
    background-color: #264653;
    overflow: hidden;
    color: white;
    border-radius: 0.5em;
}
.card-img {
    width: 100%;
}
.card-body {
    padding: 1em;
}
.card-body h5 {
    font-size: 1.5rem;
    margin: 1em 0;
    font-weight: 900;
}
.card-body p {
    font-weight: 300;
}